@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Jura:300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-home {
    background-color: #f4f4f4;
}

.bg-color-classes {
    background-color: #f4f4f4;
}

.bg-color-contact {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: rgb(199, 103, 116);
}

.ui-menu-color-classes {
    background-color: #609154;
}

.ui-menu-color-contact {
    background-color: #5d75a8;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.price {
    font-family: Jura;
    font-size: 48px;
    color:rgb(248, 3, 3);
    font-weight: 500;
    text-shadow: 0 0 6px rgb(8, 8, 8), 0 0 7px rgb(253, 144, 2);
    text-align: center;
    padding-bottom: 10px;
}

/* ----------------------------------------Special paddings/margins/text */

.col p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.section-column {
    display: block;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    float: none;
}

.section-column p {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: black;
    text-align: center;
    padding-right: 25;
    padding-bottom: 30px;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 0 2px #f4f4f4, 0 0 5px rgb(10, 10, 10);
}



/*--------------------------------------------Heading*/

.logo {
    background: url("../images/paragood2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.quote {
    font-style: italic;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    text-align: right;
    text-shadow: 0 0 6px rgb(8, 8, 8), 0 0 7px rgb(253, 144, 2);
    padding-right: 15px;
    padding-bottom: 10px;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 72px;
    margin-top: 100px;
    color: #f4f4f4;
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgb(8, 8, 8), 0 0 7px rgb(253, 144, 2);
}

.title {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: bottom left;
    color: rgb(207, 206, 206);
    text-shadow: 0 0 6px rgb(8, 8, 8), 0 0 7px rgb(253, 144, 2);
}

/*--------------------------------------------Navigation bar */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    text-shadow: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 90px;
    text-align: center;
    text-shadow: 0;
    padding: 0;
}

.menuitem a,
.menuitem i:hover {
    color: orange;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 90px;
}

.menuitem a i {
    padding-top: 10px;
    display: block;
    color: #fafafa;
    font-size: 32px;
    text-shadow: 0;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 8px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 90px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

h5 {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    background: rgb(248, 3, 3);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fff;
    color: rgb(248, 3, 3);
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------3 Classes */

.about-services-icon {
    font-size: 26px;
    color: rgb(248, 3, 3);
}

.about-services-heading {
    margin-bottom: 15px;
}

.bmt-training {
    left: 10%;
    max-width: 80%;
    background-color: rgb(227, 232, 250); 
    border: 1px solid; 
    border-radius: 5px; 
    margin: 5px; 
    box-shadow: 4px 6px 30px 1px rgba(97,94,97,1);
}

.personal-training {
    left: 10%;
    max-width: 80%;
    background-color: rgb(211, 247, 202);
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 4px 6px 30px 1px rgba(97,94,97,1);
}

.nutrition {
    left: 10%;
    max-width: 80%;
    background-color: rgb(255, 225, 216);
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 4px 6px 30px 1px rgba(97,94,97,1);
}

.btn--red {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    font-size: 24px;
    background-color: #e84610;
    min-width: 40%;
    position: relative;
    left: 30%;
    border: 1px solid #e84610;
    box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    }

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #b82302;
    border-color: #df4929;
    color: white;
}

/* ----------------------------------------Contact*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    text-shadow: 0 0 2px #f4f4f4, 0 0 5px rgb(10, 10, 10);
    margin: 30px 0;
}

.contact-container {
    background-color: #dddada;
    padding: 0 100px;
}

.contact-phone a,
.contact-phone {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    display: inline-block;
    margin: 50px auto;
    background-color: rgb(199, 103, 116);
    text-align: center;
    padding-top: 60px;
    color: #f1eeee;
    text-shadow: 0 0 5px rgb(8, 8, 8);
    letter-spacing: 5px;
}

.contact-email {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    background-color: #609154;
    display: inline-block;
    margin: 50px auto;
    text-align: center;
    padding-top: 60px;
    color: #f1eeee;
    text-shadow: 0 0 5px rgb(8, 8, 8);
    letter-spacing: 5px;
}

.contact-skype {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    background-color: #5d75a8;
    display: inline-block;
    margin: 50px auto;
    text-align: center;
    padding-top: 60px;
    color: #f1eeee;
    text-shadow: 0 0 5px rgb(8, 8, 8);
    letter-spacing: 5px;
}

.contact-skype:hover {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    opacity: 0.8;
    display: inline-block;
    margin: 50px auto;
    border:solid 3px #e84610;
}

.contact-phone:hover {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    opacity: 0.8;
    display: inline-block;
    margin: 50px auto;
    border:solid 3px #e84610;
}

.contact-email:hover {
    max-width: 360px;
    height: 360px;
    border-radius: 180px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    opacity: 0.8;
    display: inline-block;
    margin: 50px auto;
    border:solid 3px #e84610;
}

/* ----------------------------------------Media Queries */

@media(min-width: 768px) {

    .menuitem span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 4px;
    }

    .getfit {
        display: none;
        padding: 0;
    }
}

@media(max-width: 767px) {

        .btn--red {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
        color: #fafafa;
        font-size: 24px;
        background-color: #e84610;
        min-width: 40%;
        position: relative;
        left: 30%;
        border: 1px solid #e84610;
        box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
        }

        .logo {
        width: 100%;
        background: url("../images/parasmall2.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        min-height: 340px;
        text-shadow: 0 0 5px #f4f4f4, 0 0 6px rgb(12, 12, 12);
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        }

    .getfit {
        display: none;
        padding: 0;
    }
    
    .quote {
        font-style: italic;
        font-family: "Jura", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .name {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 48px;
        margin-top: 30px;
        margin-bottom: 30px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center; 
    }

    .title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 5px;
        padding-top: 100px;
        margin-bottom: 5px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center; 
    }

    .section-column {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        float: none;
    }

    .menuitem span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 4px;
    }

    .inline-block {
        text-align: center;
    }
}

@media(max-width: 710px) {

    .menuitem span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}

@media(max-width: 360px) {

    .btn--red {
        margin-top: 15px;
        margin-bottom: 20px;
        color: #fafafa;
        font-size: 24px;
        background-color: #e84610;
        max-width: 80%;
        position: relative;
        left: 10%;
    }


    .logo {
        width: 100%;
        background: url("../images/parasmall2.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        min-height: 340px;
        text-shadow: 0 0 5px #f4f4f4, 0 0 6px rgb(12, 12, 12);
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        }

    .getfit {
        display: none;
        padding: 0;
    }
    
    .quote {
        font-style: italic;
        font-family: "Jura", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .name {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 72px;
        margin-top: 30px;
        margin-bottom: 30px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center; 
    }

    .title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 5px;
        padding-top: 100px;
        margin-bottom: 5px;
        color:rgb(248, 3, 3);
        text-shadow: 0 0 3px #fff, 0 0 5px rgb(15, 15, 15);
        text-align: center; 
    }

    .section-column {
        display: block;
        width: 100%;
        padding-top: 10px;
        float: none;
    }

    .section-heading {
        font-family: "Exo", sans-serif;
        font-weight: 300;
        font-size: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: 0 0 2px #f4f4f4, 0 0 5px rgb(10, 10, 10);
    }

    .section-column p {
        font-family: "Exo", sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-right: 0;
    }

    .menuitem span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 5px;
    }

    .inline-block {
        text-align: center;
    }

}
